* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #170f1f;
    color: white;
}

header {
    background-color: #0d0912;
    padding: 12px 8%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: sticky;
    top: 0;
    z-index: 1000;

    border-bottom: 1px solid #6d356f;
}

.logo img {
    width: 65px;
    height: 65px;
    object-fit: cover;
    border-radius: 50%;
}

nav {
    display: flex;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: #ff8fca;
}

.hero {
    min-height: 600px;
    padding: 70px 8%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;

    background: linear-gradient(
        120deg,
        #170f1f,
        #29112f,
        #19102b
    );
}

.hero-text {
    max-width: 520px;
}

.hero h1 {
    font-size: 52px;
    margin-bottom: 20px;
}

.hero-text p {
    line-height: 1.7;
    color: #d8cbd8;
}

.subtitulo {
    color: #ff8fca;
}

.botao {
    display: inline-block;
    margin-top: 25px;
    padding: 13px 25px;

    background-color: #ff5cad;
    color: white;

    text-decoration: none;
    border-radius: 25px;
}

.destaques {
    padding: 70px 8%;
    text-align: center;
    background-color: #100b16;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.card {
    width: 280px;
    padding-bottom: 25px;

    background-color: #211526;
    border-radius: 15px;
    overflow: hidden;

    border: 1px solid #4f2c52;
}

.card h3 {
    margin: 20px 10px 8px;
    color: #ffacd4;
}

.card p {
    color: #c9bdca;
}

.card span {
    display: block;
    margin-top: 12px;
    color: #ff75bb;
    font-weight: bold;
}

.hero-image img {
    width: 430px;
    height: 430px;

    object-fit: cover;

    border-radius: 20px;
    border: 2px solid #8c4b86;
}

.card img {
    width: 100%;
    height: 200px;

    object-fit: cover;
}

.sobre {
    padding: 70px 8%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: #211526;
}

.sobre h2 {
    font-size: 35px;
    margin-bottom: 15px;
}

.gato {
    font-size: 120px;
}